body{
    background-color:rgb(211, 248, 248);
}

.fondo-pride{
    background-image: url(img/pride-patern.jpg);
}

.miVideo{
    width: 30%;
}

.miVideo2{
    width: 80%;
}

@media handheld, screen and (min-width: 600px) and (max-width: 1023px) {
    .miVideo{
        width: 70%;
    }
}

@media handheld, screen and (max-width: 599px) {
    .miVideo{
        width: 100%;
    }
}